<IfModule mod_rewrite.c>
  RewriteEngine On


  SetEnv DB_HOST localhost
  SetEnv DB_NAME szedjuk_egyutt
  SetEnv DB_USER Barley
  SetEnv DB_PASSWORD Csak1enter
    SetEnv MAILER_HOST smtp.rackhost.hu
  SetEnv MAILER_PW 27WVt7E04g^J
  

  # Ha a public mappában lévő fájlra érkezett a kérés, szolgáld ki a fájlt
  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ public/%1 [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*) index.php [QSA]

</IfModule>